@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
*/

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }


  .light-btn {
    @apply bg-white text-gray-700
  }
  .dark-btn {
    @apply bg-gray-400 text-white
  }
}
button {
  @apply border rounded hover:opacity-75 uppercase font-semibold
}
.green-btn {
  @apply bg-green border text-white px-8 py-1
}
label {
  @apply capitalize font-medium
}
input{
  @apply border shadow-md active:ring-2 active:ring-green rounded-md p-2
}
h1 {
  @apply text-2xl font-bold text-center p-2 m-2
}
h2 {
  @apply text-xl font-bold capitalize py-2
}
h3 {
  @apply text-lg font-bold capitalize
}
.input-wrap{
  @apply flex flex-col gap-1
}